{% extends "receipt/base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    <h1>{{title}}</h1>
    <div>
        {% if id is not None %}
            <div class="alert alert-primary" role="alert">
                画像が登録されました。IDは{{id}}です。
            </div> 
        {% endif %}
    </div>
    <div>
        <h2>画像を登録する</h2>
        <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form image_form show_label=False %}
            {% bootstrap_button type="submit" content="アップロード" %}
        </form>
    </div>
    <div class="row">
        {% for receipt in receipts %}
            <div class="card m-2" style = "max-width: 32% ">
                <div class="row g-0">
                    <div class="col-5">
                        <img src="{{receipt.image.url}}" class="img-fluid rounded-start" alt = "no Image">
                    </div>
                    <div class="col-7">
                        <div class="card-body">
                            <p>{{receipt.date}}</p>
                            <p>{{receipt.store}}</p>
                            <a href="/receipt/{{receipt.id}}" class="btn btn-primary">編集</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}