{% extends "receipt/base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    <h1>{{title}}</h1>
    <div class="row">
        <img src="{{receipt.image.url}}" class="col-md-4">
        <div class="col-md-8">
            <form action="{% url 'store' receipt.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="m-2">
                    {% bootstrap_form store_form layout="horizontal" %}
                    {% bootstrap_button type="submit" content="新規登録" %}
                </div>
            </form>
            <a href="/receipt/{{receipt.id}}/" class="btn btn-secondary m-2">戻る</a>
        </div>
    </div>
{% endblock content %}